# Pin exact dependency version numbers for local dev and CircleCI.
numpy==1.19.0 ; python_version > '3.5'
numpy==1.18.5 ; python_version == '3.5'
pytest==5.4.3
scikit-learn==0.23.1 ; python_version > '3.5'
scikit-learn==0.22.1 ; python_version == '3.5'
scipy==1.5.0 ; python_version > '3.5'
scipy==1.4.1 ; python_version == '3.5'
